<h1>Railway Welcome</h1>

<%#= JUST FOR TEST %>
<%#= link_to 'Stations list', railway_stations_path %>

<!--<br>-->
<!--<br>-->
<!--<a href="/railway_stations">Stations list</a>-->
<!--<br>-->
<!--<br>-->

<%#= link_to 'first station', railway_station_path(1) %>

<div>
  <ul>
    <li><%= link_to "Stations list", railway_stations_path %></li>
    <br>
    <li><%= link_to "Routes list", routes_path %></li>
    <br>
    <li><%= link_to "Trains list", trains_path %></li>
  </ul>
</div>